# ⭐ NUNCA commitar (contém senhas)
local.properties
*.jks
*.keystore

# Gradle
.gradle/
build/

# Android Studio
.idea/
*.iml
.DS_Store

# Android
*.apk
*.aab
captures/
.externalNativeBuild/
.cxx/

# Logs
*.log
*.tmp
